In [ ]:
list1=list(map(int,input().split()))
list2=[]
for i in range(len(list1)):
  if list1[i] not in list2:
    list2.append(list1[i])
print(list2)

1 1 2 2 3 3 4 4 45  5 5
[1, 2, 3, 4, 45, 5]

In [ ]:
list1=list(map(int,input().split()))
list2=[list1[0]]
for i in range(1,len(list1)):
  list2.append(list2[i-1]+list1[i])
print(list2)

1 2 3 4 5 6
[1, 3, 6, 10, 15, 21]

In [ ]:
tuple1=tuple(map(int,input().split()))
k=int(input())
if k > len(tuple1):
  print(tuple1)
else:
  list1=[]
  for i in range(k,len(tuple1)):
    list1.append(tuple1[i])
  for i in range(k):
    list1.append(tuple1[i])
  tuple2=tuple(list1)
  print(tuple2)

5 6
0
(5, 6)

In [ ]:
list1=list(input().split())
dic={}
id=[]
for i in range(len(list1)):
  a=list1[i].split(':')
  if a[0] not in id:
    id.append(a[0])
    dic[a[0]]=[a[1]]
  else:
    dic[a[0]].append(a[1])
print(dic)

id:1 id:2 id:3
{'id': ['1', '2', '3']}

In [ ]:
dic={'positives':0,'negatives':0,'zeros':0}
list1=list(map(int,input().split()))
for i in range(len(list1)):
  if list1[i]>0:
    dic['positives']+=1
  elif list1[i]<0:
    dic['negatives']+=1
  elif list1[i]==0:
    dic['zeros']+=1
print(dic)

1 -2 0 3 -4 0 0
{'positives': 2, 'negatives': 2, 'zeros': 3}

In [ ]:
list1=list(map(int,input().split()))
sum=0
for i in range(len(list1)):
  sum+=list1[i]
print(sum)

1 2 3 4  5 6 7
28

In [ ]:
tuple1=tuple(map(int,input().split()))
list1=list(tuple1)
list1.reverse()
tuple2=tuple(list1)
print(tuple1[0],tuple1[len(tuple1)-1],tuple2,sep=' ')

1
1 1 (1,)

In [ ]:
s=list(input().split())
dic={}
for i in range(len(s)):
  if s[i] not in dic:
    dic[s[i]]=1
  else:
    dic[s[i]]+=1
print(dic)

a a b b c c d d
{'a': 2, 'b': 2, 'c': 2, 'd': 2}

In [ ]:
from string import digits
dic1=dict(input().split())
dic2=dict(input().split())
dic={}
for i in range(len(dic1)):
  key,value=dic1
  if key not in dic:
    dic[key]=0
    dic[key]+=dic1[key]
  else:
    dic[key]+=dic1[key]
for i in range(len(dic2)):
  key,value=dic2
  if key not in dic:
    dic[key]=0
    dic[key]+=dic2[key]
  else:
    dic[key]+=dic2[key]
print(dic)

{'a':1}

ValueError: dictionary update sequence element #0 has length 7; 2 is required

In [ ]:
list1=list(map(int,input().split()))
k=int(input())
kq1=[]
while len(list1)>0:
  x=list1[0]
  if k-x not in list1:
    list1.remove(x)
  else:
    if x==k-x and list1.count(x) == 1:
      list1.remove(x)
    elif x==k-x:
      list1.remove(x)
      #list1.remove(x)
      id=(x,x)
      if id not in kq1:
        kq1.append((x,x))
    else:
      list1.remove(x)
      #list1.remove(k-x)
      id=(x,k-x)
      if id not in kq1:
        kq1.append((x,k-x))
kq1.sort()
print(kq1)

1 2 3 4
10
[]

In [ ]:
cha=tuple(map(int,input().split()))
con1=[]
con2=[]
for i in range(len(cha)):
  if cha[i]%2==0:
    con1.append(cha[i])
  else:
    con2.append(cha[i])
print(tuple(con1))
print(tuple(con2))

2 4 6 8
(2, 4, 6, 8)
()

In [ ]:
list1=list(map(int,input().split()))
list1.sort()
maxx=0
id=list1[0]
dem=1
for i in range(1,len(list1)):
  if list1[i]==list1[i-1]:
    dem+=1
  else:
    if maxx < dem:
      maxx=dem
      dem=1
      id=list1[i-1]
print(id)

1 2 3 4 5 6 7
1

In [ ]:
list1=list(input().split())
dic={}
for i in range(0,len(list1),2):
    dic[list1[i+1]]=list1[i]
print(dic)

code a-1 user b_2
{'a-1': 'code', 'b_2': 'user'}

In [ ]:
list1=list(map(int,input().split()))
list2=list(map(int,input().split()))
kq=[]
for i in range(len(list1)):
  if (list1[i] in list2) and (list1[i] not in kq):
    kq.append(list1[i])
print(kq)

1 2 3 4 5

[]

In [ ]:
list1=list(input().split())
k=int(input())
dic={}
for i in range(0,len(list1),2):
  if int(list1[i+1]) > k:
    dic[list1[i]]=int(list1[i+1])
print(dic)

a 95 b 88 c 92 d 60
100
{}

In [ ]:
n,m=map(int,input().split())
a=[]
for i in range(n):
  a.append([])
  a[i]=list(map(int,input().split()))
for i in range(n):
  for j in range(m):
    print(a[i][j],end=' ')
  print()

3 4
1 2 3 4
5 6 7 8
8 7 6 5
1 2 3 4
5 6 7 8
8 7 6 5

In [ ]:
n=int(input())
a=[]
for i in range(n):
  a.append([])
  a[i]=list(map(int,input().split()))
for i in range(n):
  print(a[i][i],end=' ')
print()
for i in range(n):
  print(a[i][1n-1-i],end=' ')

3
1 2 3
4 5 6
7 8 9
1 5 9
3 5 7

In [ ]:
n,m,k=map(int,input().split())
a=[]
for i in range(n):
  a.append([])
  a[i]=list(map(int,input().split()))
cot=0
hang=0
for i in range(n):
  cot+=a[i][k-1]
for i in range(n):
  hang+=a[k-1][i]
print(cot,hang)

3 3 2
1 2 3
4 5 6
7 8 9
15 15

In [ ]:
list1=list(map(int,input().split()))
id=0
maxx=list1[0]
for i in range(len(list1)):
  if maxx < list1[i]:
    maxx=list1[i]
    id=i+1
print(id)

1 2 3 4 5 -6 7 8 19
9

In [ ]:
list1=list(map(int,input().split()))
k=int(input())
ok=False
for i in range(len(list1)):
  if list1[i]==k:
    ok=True
    print(i+1)
    break
if ok == False:
  print(-1)

1 2 3 4 5
-1
-1

In [ ]:
list1=list(input().split())
dic={}
for i in range(len(list1)):
  if list1[i] not in dic:
    dic[list1[i]]=[]
  dic[list1[i]].append(i)
for i in range(len(list1)):
  dic[list1[i]]=tuple(dic[list1[i]])
print(dic)

1 1 1 1 1 1
{'1': (0, 1, 2, 3, 4, 5)}

In [ ]:
list1=list(map(int,input().split()))
id=0
maxx=list1[0]
for i in range(len(list1)):
  if maxx < list1[i]:
    maxx=list1[i]
    id=i+1
print(id)